/** FONTS {{{1 **/

/* Amiri; SIL OFL-1.1; subsetted; see fonts/asubset.sh for downloading the original and subsetting */
@font-face {
  font-family: Amiri; font-style: normal; font-weight: 400; font-display: swap;
  src: local('Amiri'),  /* if found locally, use it, otherwise use another local font, until this loads. */
       url('fonts/Amiri-.woff2') format('woff2'),
       url('fonts/Amiri-.woff')  format('woff');
}

/* Amiri Quran 0.112, SIL OFL 1.1; https://github.com/alif-type/amiri */
@font-face {
  font-family: AmiriQuran; font-style: normal; font-weight: 400; font-display: swap;
  src: local('Amiri Quran'),  /* if found locally, use it, otherwise use another local font, until this loads. */
       url('fonts/AmiriQuran.woff2') format('woff2'),
       url('fonts/AmiriQuran.woff')  format('woff');
}

/* Noto Kufi Arabic; subsetted; see fonts/bsubset.sh for downloading the original and subsetting */
@font-face {
  font-family: "Noto Kufi Arabic"; font-style: normal; font-weight: 700; font-display: swap;
  src: local('Noto Kufi Arabic'),  /* if found locally, use it, otherwise use another local font, until this loads. */
       url('fonts/Noto Kufi-.woff2') format('woff2'),
       url('fonts/Noto Kufi-.woff')  format('woff');
}

/* KacstOne; GNU GPLv2; from the debian package fonts-kacst-one version 5.0+svn11846-10 modified 2019-09-22;
   subsetted and modified; see woff/ksubset.sh in https://github.com/noureddin/recite for details */
@font-face {
  font-family: MyKacstOne; font-style: normal; font-weight: 400; font-display: swap;
  src: url('fonts/KacstOne-.woff2') format('woff2'),
       url('fonts/KacstOne-.woff')  format('woff'),
       local('KacstOne');
  /* don't ask for a local KacstOne first, b/c Blink browsers (eg, Chrome) don't respect the page's locale
     for the numerals, thus our KacstOne is not a pure subset, but has the Eastern Arabic numerals in ASCII. */
}

/* Noto Sans Symbols & Noto Sans Symbols2; SIL OFL-1.1; subsetted & merged;
   see fonts/symbols.sh for downloading the originals and subsetting and merging */
@font-face {  /* the name is intentionally "wrong", NotoSymbols instead of NotoSansSymbols, because NotoSansSymbols is half the font */
  font-family: NotoSymbols; font-style: normal; font-weight: 400; font-display: swap;
  src: url('fonts/NotoSymbols-.woff2') format('woff2'),
       url('fonts/NotoSymbols-.woff')  format('woff');
}

/** GENERAL {{{1 **/

/* body.k is when darkmode is enabled */
/* body.d is when showing double-page (ie, two facing pages at the same time) */
/* body.u is when showing help or another popup */
/* body.u.h is when showing help */

body {
  background: #FFFDD8;  /* same as margin color */
  color: #111;  /* that is the same as light TxtFg in javascript */
  font-size: calc(12px + 1vmin);
  margin: 0 auto;
  padding: 0;
  /* min-height: 95%; */
}
body.k {
  background: #272500;
  color: #eee;  /* that is the same as dark TxtFg in javascript */
}
body>.scr { background: inherit }  /* to be grayscaled when showing help */

body.nocursor #canvas { cursor: none }  /* hide when using the keyboard */

#n, #u {
  margin: 1vh auto;
  position: relative;
}

#canvas { width: 100%; height: 100%; display: block }

/** INSERT {{{1 **/

input {
  font-family: Amiri, MyKacstOne, KacstOne, serif;
}
#t {
  color: inherit;
  position: absolute;
  background: none;
  box-sizing: border-box;
  --i: #888;  /* placeholder color (the hint); changed via javascript; see #t::placeholder & its comment */
}

#t:focus {
  border: none;
  border-radius: 0.1em;
  outline: 0.075em solid #ff8c00a0; /* darkorange with transparency */
  box-shadow: inset 0.1em 0.1em 0.2em #4204;
}
body.k #t:focus {
  outline: 0.050em solid #ffa500a0;  /* orange with transparency */
  box-shadow: inset 0.1em 0.1em 0.2em #8608;
}

.go, #u select {
  border: 0.075em solid #888;
  border-radius: 0.15em;
}

#u *:focus { outline: 0.075em solid darkorange }
body.k #u *:focus { outline: 0.075em solid #05c }  /* orange inverted and darkened slightly, for select/button */
body.k #u summary:focus { outline: 0.075em solid orange }

#u a:focus {
  opacity: 1;
  border-radius: 0.12em;
  outline: 0.15em dotted darkorange;
}
body.k #u a:focus { outline: 0.15em dotted orange }

#t:disabled { display: none } /* when loading a page OR when help is shown while in insert mode (F1) */

#t::placeholder { opacity: 1; color: var(--i) }
/* browsers make each letter (in placeholder texts) transluecent independly, contrary to the Web standard,
   making joined letters look ugly; thus we make it opaque and change the color. */


/** audio player {{{1 **/

#preloader {
  display: none;
}

#player {
  display: block;
  /* centered with https://stackoverflow.com/a/2006008 */
  margin-left: -10rem; /* negative half of width */
  margin-left: max(-10rem, -40vw);
  width: 20rem;
  max-width: 80vw;
  left: 50vw;
  /* sticky */
  position: fixed;
  bottom: 0;
  /* hidden if no qari is selected */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 99;
}

#player.t { bottom: initial; top: 0 }

/** ONSCREEN KB {{{1 **/

svg * { transition: 0.25s fill, 0.25s stroke }

#kk {
  cursor: pointer;
  --U: 4em;  /* button side length with margin; will be user-configurable */
  /* */
  visibility: hidden;
  font-family: NotoSymbols, sans-serif;
  /* */
  /* lightmode colors */
  /* --bg: transparent; */
  --c: #a00;  /* keys color */
  --s: #fff;
  /* */
  opacity: 0.10; transition: opacity 1.5s ease-in-out;
}
body.k #kk { /* darkmode colors */
  /* --bg: #18003044; */
  /* --c: #fff8;  /1* keys color *1/ */
  --c: #fdd;
  --s: #000;
}

@media (hover: hover) {
  #kk:hover { opacity: 0.50; transition: opacity 0.2s ease-out }
}
#kk.H,
#kk:active { opacity: 0.50; transition: opacity 0.2s ease-out }
/* show fast but hide slowly, unless triggered; see the comment in main.js for details */

svg, button {
  touch-action: manipulation; /* disable double-tap zooming; https://stackoverflow.com/a/53236027 */
}

/* we have two keypads & three layouts
   #rk has four keys
   #lk has three keys
   each key is a square whose side is 12vw in portrait and 6vw in landscape
   #kk.G "manette" layout is a circle (30x30 viewBox for both)
   #kk.P "triangle" layout is a triangle (30x20 viewBox for both) (currently disabled; could be removed entirely)
   #kk.S "square" layout is a square (20x20 viewBox for both)
   #kk.L "laptop" layout is a column (10x40 #rk & 10x30 #lk)
   keypad's height is needed for calculating its position.
*/

svg {
  /* background: var(--bg); */
  height: var(--H);
  /* portrait (scroll-y) */
  position: fixed;
  bottom: 0;
  bottom: max(0vh, calc(var(--b) - var(--H)));
  /* --T: calc(100vh - var(--H)); */
  /* top: min(var(--h), var(--T)); */
  /* immediately under the canvas if there's a space, otherwise at the bottom of screen */
  /* but if the browser is too old to understand min(), just put it at the bottom of screen */
}

body.V svg { position: absolute } /* see onresize() & kkfix.oninput() */
body.V #kk.T svg { bottom: initial; top: 8vw /* under the show help bottom */ }
body.V.d #kk.T svg { top: 0 }
body.V #kk.M svg { bottom: initial; top: calc(45vh - var(--H)/2) }
body.V #kk.B svg { bottom: 0 }

/* for some browsers, top: calc(95vh - var(--H)) renders half the element out of the screen, thus bottom is needed */


#kk.S svg { --H: calc(2*var(--U)) } /* square layout */
#kk.G svg { --H: calc(3*var(--U)) } /* manette layout */
#kk.L svg { --H: calc(4*var(--U)) } /* laptop layout */

#rk { right: 0 }
#lk { left: 0 }

#kk.R #rk { right: initial; left: 0 }
#kk.R #lk { left: initial; right: 0 }

#kk tspan { display: none }
#kk.F tspan { display: initial }

/* @media (orientation: portrait) { */
/* svg { top: min(100vw, calc(100vh - 25vmin)) } */
/* #rk { right: 5.25vmin } */
/* #lk { left:  5.25vmin } */
/* } */

/* keys */

#kk g * { user-select: none; }  /* it's easy to select it while clicking */

@media (hover: hover) {
  #kk g:hover * { cursor: pointer }
  #kk g:hover { filter: drop-shadow(0 0 0.02em red); }
         #kk g:hover>rect { fill: #fff8 }
  body.k #kk g:hover>rect { fill: #fff6 }
}
       #kk g:active>rect { fill: #ffff }
body.k #kk g:active>rect { fill: #fffa }

#kk g>rect {
  width: 8px;
  height: 8px;
  rx: 1px;
  stroke: var(--c);
  stroke-width: 0.5px;
  fill: none;
}

/* #rk text { font-weight: bold } */
#kk g>text {
  /* font-family: Noto Sans Symbols2, Noto Sans Symbols, Noto Sans, sans-serif; */
  font-size: 5px;
  dominant-baseline: middle;
  text-anchor: middle;
  fill: var(--c);
  /* stroke: var(--s); */
  /* stroke-width: 0.5px; */
  /* stroke-miterlimit: 1; */
  /* paint-order: stroke; */
}
#kk g>text.k {
  font-family: monospace;
  font-size: 2px;
  dominant-baseline: alphabetic;
}

/** BUTTONS {{{1 **/

#x, #sh, .sh>button {
  font-size: var(--f);
  margin: 0; padding: 0;
  width: calc(2*var(--f));
  height: calc(2*var(--f));
  border-radius: 100%;
  color: #000;  /* inverted in dark */
}

#sh {
  display: block;
  position: fixed;
  transition: 0.5s opacity;
  /* single-page attributes: */
  --f: 3.8vw; top: 0.15em; left: 0.15em; opacity: 0.45;
}

body.d #sh {
  --f: 1em; top: 2.5%;
  opacity: 0.25;  /* it's an empty space, thus can get more translucent */
  /* TODO: unify the font-family & border style of this button across Gecko/Blink */
  /* the +0.18% offset to the left is needed because the inner margins of the pages
     aren't perfectly symmetric between the right and left pages */
  right: calc(50.18% - var(--f));
}

#x {
  display: block;
  position: absolute;
  --f: 1em;
  top: 1em; left: 1em;
  opacity: 0.35;
  transition: 0.5s opacity;
}

body.k #sh { opacity: 0.5 }
#sh:focus, #x:focus { opacity: 1 }

@media (hover: hover) {
  #sh:hover, #x:hover { opacity: 1 }
}

.sh {
  display: inline-block;
  position: relative;
  --f: 0.85em;
  white-space: preserve nowrap;
}
body.d .sh { --f: 0.9em }
.sh > span {
  position: absolute;
  top: 0; right: 0;
  width: 100%; height: 100%;
  background: transparent;
}
/* this transparent overlay is needed, because a disabled button with border-radius still changes its style on :hover and :active in Firefox. */

/** HELP SHOWN {{{1 **/

button:disabled { cursor: not-allowed }

body.u #t:disabled,
body.u>.scr { filter: blur(0.5vmin) grayscale(1) brightness(0.6) }
body.u #b,
body.u #u  { display: block }
body.u #sh { opacity: 0 !important }

#u>.scr { display: none }
body.h #h { display: block }
body.c #c { display: block }

hr {
  border: none;
  border-top: 0.05em solid currentColor;
  margin: 0.5rem 0.25rem 0;
}

#b { display: none; position: absolute; top: 0; right: 0; width: 100%; height: 100%; cursor: pointer }

#u {
  display: none;
  position: absolute;
  box-sizing: border-box;
  top: 1.25%; height: 95%; /* right & width are set by calling help_onresize() in onresize() */
  background: #e0e0e4aa;
  padding: 0.5em;
  border-radius: 1em;
  font-family: MyKacstOne, KacstOne, serif;
  line-height: 1.6;
  box-shadow:
    inset  0.03em  0.03em 0.15em white,
    inset -0.03em -0.03em 0.15em black;
}
body.k #u { background: #4458 }
/* todo: Dark #u has bad colors */

#h {
  width: 100%; height: 100%;
  box-sizing: border-box;
  padding: 0.5em;
}
/* see .ssh in the SCROLL section */


/** OPTION TABLES {{{1 **/

table { margin: 0.5em }
td { text-align: left; white-space: nowrap; padding: 0.3em 0 }
td select { width: 100% }

#q table { margin-top: 0 }

.g { --p: 0.5em }
.g td { padding-right: var(--p) }
.g td:first-child { padding-right: 0 }
.g td:last-child { padding-right: calc(2*var(--p)) }

.g td[colspan] { text-align: center; padding-right: 0 }

@media (max-width: 439px) { .g { --p: 0.25em } }
@media (max-width: 419px) { .g { --p: 0; margin-right: -0.5em } }


:root { --M: 100% }  /* update in onresize() */
.wk input[type="range"] {
  vertical-align: -0.5em;
  max-width: calc(var(--M) - var(--R) - 0.5em);  /* that half is the button margin */
}
.oskpref td:nth-child(2) { text-align: right; max-width: var(--M) }

/* .wk button { font-family: NotoSymbols, MyKacstOne, KacstOne, serif; font-size: 80%; width: 9em; height: 2em }  /1* sliders' reset buttons *1/ */
.wk button { font-size: 80%; width: 4em; height: 2em; margin-right: 0.5em }  /* sliders' reset buttons */


/** HELP GOTO {{{1 **/

h1 + p {
  padding-bottom: 0.5rem;
  border-bottom: 0.05rem solid currentColor;
  margin-bottom: 2rem;
}

/** HELP HEADER {{{1 **/

#x, kbd { font-family: "Noto Sans", "DejaVu Sans", sans-serif }

kbd {
  line-height: 1;
  font-size: 0.8em;
  /* based on https://meta.superuser.com/q/4788 */
  background-color: #fff4;
  border: 0.025em solid #0005;
  border-radius: 0.5em;
  margin: 0 0.1em;
  padding: 0.07em 0.4em;
}
body.k kbd { border: 0.025em solid #fffa; background-color: #fff2 }

h1 {
  text-align: center;
  font-size: 110%;
  padding-bottom: 1rem;
  border-bottom: 0.05em solid currentColor;
}

h1 {
  font-family:
    "Noto Sans" /* for the colon */, "Noto Kufi Arabic",
    KacstOne /* local first, for real bold */,
    MyKacstOne, serif;
  font-weight: bold;
}

#h > p { margin-right: 0.5rem }

.i > span { display: none }
.i {
  background: url(icon/icon.svg);
  background-size: contain;
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.6em;
}

.nt { font-size: 85%; opacity: 0.5; transition: opacity 1s }
.nt:hover { opacity: 1 }

/** HELP HELP {{{1 **/

#v h2 {
  font-size: 130%;
  font-weight: normal;
  margin: 0.7em 0.7em 0.2em;
  color: #370;
}
body.k #v h2 {
  color: #efc;
}

/* kbd's style in defined in HELP HEADER */

summary {
  cursor: pointer;
  background: #a0b0a088;
  padding: 0.15em 0.5em;
  border-radius: 1em;
  --in:
    inset 0  0.04em 0.20em #fff8,
    inset 0 -0.04em 0.20em #0008;
  box-shadow: var(--in);
}

body.k summary       { background: #7878 }
/*light*/ summary:hover { background: #a0c0a088 }
body.k summary:hover { background: #5758 }

summary:hover              { box-shadow: var(--in), 0.06em  0.06em 0.30em #0008 }
details:open>summary       { box-shadow: var(--in), 0.06em  0.06em 0.30em #0006 }
details:open>summary:hover { box-shadow: var(--in), 0.06em  0.06em 0.30em #000a }

details:open { padding-bottom: 0.5em }

details {
  margin: 1em 0;
  background: #fff6;
  border-radius: 1em;
  box-shadow: 0.04em  0.04em 0.20em #0006,
        inset 0      -0.20em 1.00em #0004;
  overflow: visible !important;  /* for the outer box-shadow of summary:hover */
}

body.k details {
  box-shadow: 0.04em  0.04em 0.40em #000f,
        inset 0      -0.20em 1.00em #fff4;
}

body.k details { background: #0001 }

details p, details ul, details li { margin: 0 1em 0 0 }
details summary { margin: 0 }
details ul { padding: 0 0.5em }
p + ul, li + li { margin-top: 0.5em }

p + p, ul + p { margin-top: 1em }
p:last-child, ul:last-child { padding-bottom: 1em }
summary + p, summary + ul { margin-top: 0.5rem }
#o { margin-top: 1rem; padding-bottom: 0.5rem }

/** HELP OPTIONS {{{1 **/

#qaris { margin: 1em; width: initial; max-width: calc(100% - 2em) }
#q p { margin-bottom: 1em }

.g select, .g button { width: 4em; height: 2em }
select, button { font-family: inherit; font-size: inherit; cursor: pointer; filter: invert(0.05) }

body.k select, body.k button { filter: invert(0.85) }
select.go1 { width: 4.5em }
select.go2 { width: 3em }

.chk span { opacity: 0.35  }

/** HELP FOOTER {{{1 **/

#ft {
  border-top: 0.05em solid currentColor;
  padding: 1rem 0 0;
  margin: 2rem 0.25rem 0;
}

/* body.k #ft { opacity: 0.7 } */
/* #ft:hover { opacity: 1 !important } */

/* 00a 090 c70  blue green orange
   4af 0d0 e90 */

/* 080 00a c60  green blue orange
   6d6 0cf e80 */

a {
  color: #060;
  text-decoration: none;
  border-bottom: 0.05em solid currentColor;
}
/* a:nth-last-child(2), */
a:hover, a:focus {
  color: #00a;
  border-bottom: 0.1em solid currentColor;
}
/* a:last-child, */
a:active {
  color: #c60;
  border-bottom: 0.2em solid currentColor;
}

body.k a { color: #6d6 }
/* body.k a:nth-last-child(2), */
body.k a:hover, body.k a:focus {
  color: #0cf;
}
/* body.k a:last-child, */
body.k a:active { color: #e80 }

/** SEARCH {{{1 **/

.g .search { width: initial; padding: 0 1em }  /* the button in help */
.g .search span { font-family: NotoSymbols; vertical-align: -0.15em }  /* the magnifying glass */

body.k #sxq {
  color: white;
  background: #000;
  border-radius: 0.1em;
}

#sxq { font-size: 1em }

#spin ~ * { opacity: 0.5 }

:root {
  --sxsa: hsla(30deg, 80%, 60%, 0.6);
  --sxr:  hsl(80deg, 30%, 70%);  /* each aya search results */
  --sxrh: brightness(1.075);  /* hover */
  --sxra-shadow: 0 0 0.25rem black,
    inset 0  0.5rem 1rem #fff,
    inset 0 -0.5rem 1rem #0004;
}

body.k {
  --sxsa: #8308;
  --sxr:  #130;  /* each aya search results */
  --sxrh: brightness(1.25);  /* hover */
  --sxra-shadow: 0 0 0.2rem white,
      inset 0  0.5rem 1rem #fff4,
      inset 0 -0.5rem 1rem #000f;
}

#c { padding: 0.5em; box-sizing: border-box }
body.c #x { top: 4.5em }

#c .aya { font-family: AmiriQuran }

/* #sxi { width: var(--all-width) } */
/* #c input { min-width: 8em } */

#sura_sx {
  margin-left: 0.5em;
  width: 6em;
}

#sxi { display: flex; flex: row }
#c input { flex-grow: 100 /* all the space it can have */ }

#c center { margin: 2em  0 }  /* messages, not search results */
#c svg + center { margin-top: 0 }  /* if waiting after user input */

#sxr .ac {
  text-align: right;
  background: var(--sxr);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem 0;
  overflow: hidden;  /* hide the excess part of .s_a */
  position: relative;
  transition: 0.25s filter;
}
#sxr .ac:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: -1rem 0;  /* to counter the padding of the parent */
  box-shadow: var(--sxra-shadow);
}

#sxr .ac:hover, #sxr .ac:active {
  filter: var(--sxrh);
}

.s_a {  /* sura-aaya title in #sxr */
  background: var(--sxsa);
  border-radius: 0 1rem 0 1rem;
  padding: 3rem 1rem 0.5rem 0.75rem;
  margin: 0 -1rem 0 1rem;
}

#sxr .aya {
  line-height: 2.75;
}

#sxr:hover, #sxr:focus {
  cursor: pointer;
}

/** SCROLL {{{1 **/

html, body { height: 100% }
.scr {
  overflow-y: auto;
  width: 100%; height: 100%;
}

#hs, #ls {
  position: absolute; z-index: 1; pointer-events: none; /* pass through */
  opacity: 0; transition: 1s opacity;
  width: 100%; height: 50%;
}

#hs { top:    0.5em; background: radial-gradient(50% 10% at 50%    0, var(--s), #0000) center top }
#ls { bottom: 0.5em; background: radial-gradient(50% 10% at 50% 100%, var(--s), #0000) center bottom }

body   { scrollbar-color: #0008 #0002; --s: #f804 }
body.k { scrollbar-color: #fff8 #fff2; --s: #f905 }

/* body   { scrollbar-color: #0008 #0002; --s: #3805 } */
/* body.k { scrollbar-color: #fff8 #fff2; --s: #6f04 } */

/* body   { scrollbar-color: #0008 #0002; --ssh: #0084 } */
/* body.k { scrollbar-color: #fff8 #fff2; --ssh: #24f5 } */

/* body { --scroll-rgb: 0, 0, 0; } */
/* body.k { --scroll-rgb: 255, 255, 255; } */
/* /1* #u { scrollbar-color: rebeccapurple green } *1/ */
/* /1* https://css-tricks.com/custom-scrollbars-in-webkit/ *1/ */
/* ::-webkit-scrollbar { width: 0.5em } */
/* ::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0.25em rgba(var(--scroll-rgb),0.3) } */
/* ::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 0.25em rgba(var(--scroll-rgb),0.5); border-radius: 0.8em } */

/*: vim: set foldmethod=marker foldmarker={{{,}}} :*/
